<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<p class="search-logo">Movie Recomendation</p>
	</div>
	<div class="col-md-3">
		<div class="nav-button">
			<span><a href="#movies" class="btn btn-warning"><span class="glyphicon glyphicon-film"></span> Movies</a></span>
			<span><a href="#persons" class="btn btn-warning"><span class="glyphicon glyphicon-user"></span> People</a></span>

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
	</div>
	<div id="searchCont" class="col-md-4">
		<input type="text" name="search" class="form-control" placeholder="Search...">

	</div>
	<div class="col-md-4">
	</div>
</div>

<nav class="TopNavbar navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation" style="color: white;">
	<% _.each(collection, function(element) { %>
		<div class="col-md-2">
			<a href="/#movie/<%= element.id %>" class="item col-md-12"> <img class="poster-preview" src="<%= element.Poster %>" alt="picture"> </a>
		</div>
	<% }); %>
</nav>
