<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<p class="search-logo">Movie Recomendation</p>
	</div>
	<div class="col-md-3">
	</div>
</div>

<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<input type="text" class="form-control" placeholder="Text input">
	</div>
	<div class="col-md-4">
	</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role="navigation" style="color: white;">
	<p class="top-rated">Top Rated</p>
	<% _.each(collection, function(element) { %>
		<div class="col-md-2">
			<a href="/#movie/<%= element.id %>" class="item col-md-12"> <img class="poster-preview" src="<%= element.Poster %>" alt="picture"> </a>
		</div>
	<% }); %>
</nav>
