
<div class="row">
	<div class="col-md-3">
		<img class="poster" src="<%= model.Poster %>" alt="poster">
		<p class="information"><span class="field">Score:</span>  <%= model.classification %> <span class="glyphicon glyphicon-star" aria-hidden="true"></span> </p>
		<p class="information"><span class="field">Duration:</span> <%= model.duration %> min</p>
		<% if (model.type == "Serie") { %>
			<p class="information"><span class="field">Seasons:</span> <%= model.seasons %> </p>
		<% } %>
	</div>
	<div class="col-md-9">
		<p class="name"><%= model.Name %></p>
		<% if (model.type == "Movie") { %>
			<p class="information"><span class="field">Launched:</span> <%= model.launched %></p>
		<% } %>
		<% if (model.type == "Serie") { %>
		<p class="information"><span class="field">Start:</span> <%= model.start %></p>
		<% } %>
		<% if (model.type == "Serie" && model.end != undefined > 0) { %>
		<p class="information"><span class="field">End:</span> <%= model.end %></p>
		<% } %>
		<p class="information"><span class="field">Genres:</span>
			<ul class="movieLists genreList">
				<% _.each(model.Genres, function(genre) { %>
					<li class="genreName">
						<%= genre.name %>
					</li>
				<% }); %>
			</ul>
		</p>
		<% if (model.Directors.length > 0) {%>
			<p class="information"><span class="field">Director:</span>
				<ul class="movieLists directorList">
					<% _.each(model.Directors, function(director) { %>
						<li class="directorName">
							<a href="/#person/<%=director.id %>"><%= director.name %></a>
						</li>
					<% }); %>
				</ul>
			</p>
		<% } %>
		<p class="information"><span class="field">Stars:</span>
			<ul class="movieLists actorList">
				<% _.each(model.Actors, function(actor) { %>
					<li class="actorName">
						<a href="/#person/<%=actor.id %>"><%= actor.name %></a>
					</li>
				<% }); %>
			</ul>
		</p>

		<p class="information"><span class="field">Studios:</span>
			<ul class="movieLists studioList">
				<% _.each(model.Studios, function(studio) { %>
					<li class="studioName">
						<%= studio.name %>
					</li>
				<% }); %>
			</ul>
		</p>
		<p class="information"><span class="field">Description: </span> <%= model.description %> </p>
	</div>
</div>

