

    <% _.each(collection, function(element) { %>
    <a href="/#movie/<%= element.id %>" class="item col-md-12">
        <div class="col-md-2">
            <img class="poster-preview" src="<%= element.Poster %>" alt="picture">
        </div>
        <div class="col-md-10">
            <div class="information"><span class="field">Title: </span><%= element.Name %> <span class="label label-primary"><%= element.type %></span> </div>
            <% if (element.launched) { %>
                <div class="information"><span class="field">Launch Date: </span><%= element.launched %></div>
            <% } %>
            <% if (element.start) { %>
                <div class="information"><span class="field">Original run:</span> <%= element.start %> - <%= (element.end?element.end:"Ongoing") %></div>
            <% } %>
            <div class="information"><span class="field">Score: </span><%= element.classification %> </div>
            <% if (element.Directors.length > 0) {%>
                <div class="information"><span class="field">Director: </span>
                    <% _.each(element.Directors, function(director) { %>
                        <%= director.name %>
                    <% }); %>
                </div>
            <% } %>
            <% if (element.seasons) { %>
            <div class="information"><span class="field">Seasons:</span> <%= element.seasons %> </div>
            <% } %>
        </div>

        </div>
    </a>
    <% }); %>
