
<div class="row">
	<div class="col-md-3">
		<img class="poster" src="<%= model.Picture %>" alt="picture">
		<p class="field">Categories</p>
		<p class="information">Actor<p>
		<p class="information">Producer<p>
		<p class="information">Director<p>
	</div>
	<div class="col-md-9">
		<p class="name"><%= model.Name %></p>
		<p class="information"><span class="field">Born:</span> <%= model.Birth %></span>
		<p class="information"><span class="field">Profession:</span> ??????? </p>
		<p class="information"><span class="field">Birthplace:</span><%= model.BirthPlace %></p>
		<p class="information"><span class="field">Minibio:</span> <%= model.MiniBio %></p>
	</div>
</div>
