
<% _.each(collection, function(element) { %>
<a href="/#person/<%= element.id %>" class="item col-md-12">
    <div class="col-md-2">
        <img class="poster-preview" src="<%= element.Picture %>" alt="picture">
    </div>
    <div class="col-md-10">
        <div class="information"><span class="field">Name:</span><%= element.Name %></div>
        <div class="information"><span class="field">Born:</span> <%= element.Birth %></div>
        <div class="information"><span class="field">Profession:</span>
        <ul class="Lists">
            <% _.each(element.Profession, function(profession) { %>
                <li class="information"><%= profession.name %></li>
            <% }); %>

        </ul>
        </div>
        <div class="information"><span class="field">Birthplace:</span><%= element.BirthPlace %></div>
    </div>

</a>
<% }); %>
