body {
      	background-color: #ccc;
        font-family: Ubuntu, sans-serif;
}

.search-logo {
	padding-top: 50px;
        font-size: 400%;
        text-align: center;
        color: green;
        padding-bottom: 100px;
}
.name {
       	font-size: 400%;
        text-align: center;
        color: green;
}

.poster{
        border: 3px solid;
        border-radius: 8px;
        border-color: black;
}

body .TopNavbar::before{
        position: absolute;
        content: 'Top Rated';
        background-color: black;
        bottom:100%;
        font-size: 20px;
        padding: 5px 10px;

        -moz-border-radius-topright: 20px;
        -webkit-border-top-right-radius: 20px;
        border-top-right-radius: 20px;
}

.alertContainer{
        position: absolute;
        width: 100%;
        padding: 20px;
}
.alert{
        width: 100%;
}

.TopNavbar{
        height: 20%;
}

.TopNavbar div{
        text-align: center;
}

.TopNavbar a{
        padding-top: 0;
}

.TopNavbar .poster-preview,
#PersonsCont .poster-preview,
#MoviesCont .poster-preview{
        border: 3px solid;
        border-radius: 8px;
        border-color: black;
}

.TopNavbar .poster-preview{
        height: 100%;
}

#PersonsCont .poster-preview ,#MoviesCont .poster-preview{
        width: 100%;
}

.information {
	padding-top: 10px;
}

.field {
        font-weight: bold;
        font-size: 125%;
}

.container {
        height: 100%;

}

.item {
        border-bottom:#000000 1px solid;
        padding-bottom: 10px;
        padding-top: 10px;
        color: black;
}
.item:last-child {
        border-bottom:#000000 0px solid;
}


#PersonsCont,#MoviesCont{
        height: 100%;
        overflow-y: scroll;
}


#BackBoneContainer #PersonsCont,#BackBoneContainer #MoviesCont{
        overflow: scroll;
}
.Lists{
        -webkit-padding-start: 0px;
        padding-left: 0px;
}
.Lists, .Lists li{
        display: inline;
}
.Lists li:not(:first-child):before {
        content:','
}
.nav-button {
        float: right;
        padding-left: 10px;
        position: absolute;
        top: 20px;
}

#genreView li{
        display: block;
}

.MediaType_Movie .label-primary{

}
.MediaType_Serie .label-primary{
        background-color: orange;
}