body {
      	background-color: #ccc;
        font-family: Ubuntu, sans-serif;
}

.search-logo {
	padding-top: 50px;
        font-size: 400%;
        text-align: center;
        color: green;
        padding-bottom: 100px;
}
.name {
       	font-size: 400%;
        text-align: center;
        color: green;
}

.poster{
        border: 3px solid;
        border-radius: 8px;
        border-color: black;
}

body .TopNavbar::before{
        position: absolute;
        content: 'Top Rated';
        background-color: black;
        bottom:100%;
        font-size: 20px;
        padding: 5px 10px;

        -moz-border-radius-topright: 20px;
        -webkit-border-top-right-radius: 20px;
        border-top-right-radius: 20px;
}

.alertContainer{
        position: absolute;
        width: 100%;
        padding: 20px;
}
.alert{
        width: 100%;
}

.TopNavbar{
        height: 20%;
}

.TopNavbar div{
        text-align: center;
}

.TopNavbar a{
        padding-top: 0;
}

.TopNavbar .poster-preview,
#MoviesCont .poster-preview{
        border: 3px solid;
        border-radius: 8px;
        border-color: black;
}

.TopNavbar .poster-preview{
        height: 100%;
}

#MoviesCont .poster-preview{
        width: 100%;
}

.information {
	padding-top: 10px;
}

.field {
        font-weight: bold;
        font-size: 125%;
}

.container {
        height: 100%;

}
#MoviesCont{
        height: 100%;
        overflow-y: scroll;
}

.item {
    padding-top: 10px;
    color: black;
}

#BackBoneContainer #MoviesCont{
        overflow: scroll;
}

.movieLists li{
        display: inline;
}
.movieLists li:not(:first-child):before {
        content:','
}